<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Server</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/static/CSS/style.css}">
    <link rel="stylesheet" th:href="@{/static/CSS/font-awesome.min.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand" href="#">Work with PostgreSQL</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/login">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link disabled" href="/table">Access<span class="sr-only"></span></a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/table">Access<span class="sr-only"></span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Questions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item disabled" href="#">Write to administrator</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://getbootstrap.com/">Something</a>
            </div>
          </li>
        </ul>
        <form th:action="@{/login}" method="post" class="mr-sm-2">
            <div class="form-group row">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input class="form-control" type="text" name="name" placeholder="Login" aria-label="Login" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="form-group row">
                <div class="input-group">
                     <input class="form-control" type="Password" name="pass" placeholder="Password" aria-label="Password">
                     <div class="input-group-append">
                         <button class="btn btn-outline-secondary" type="submit">TAP</button>
                     </div>
                </div>
            </div>
            <div th:if="${error != null ? 'has-error' : ''}" class="text-danger bg-dark">
                <span th:text="${error}" />
            </div>
            <div sec:authorize="isAuthenticated()">
                <form  th:action="@{/logout}" class="mr-sm-2" method="post">
                    <div class="form-group row">
                        <div class="input-group">
                            <input class="btn btn-outline-secondary" type="submit" value="Sign Out">
                        </div>
                    </div>
                </form>
            </div>

        </form>
      </div>
    </nav>

    <div id="headimage">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Hello, you visited the login page</h1>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="blocks/fronts :: fronts"></div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity=
            "sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>