<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Job and Bank</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/static/CSS/style.css}">
    <link rel="stylesheet" th:href="@{/static/CSS/font-awesome.min.css}">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container lg-5 mb-5">
    <h1>Добавление таблиц Job и Bank</h1>
    <form method="post">
        <h3>Добавьте данные о работе</h3>
        <div>
            <input type="text" name="name" placeholder="Введите название работы" class="form-control"> <br>
            <input type="text" name="place" placeholder="Введите место работы" class="form-control"> <br>
        </div>
        <br>
        <hr>
        <h3>Добавьте данные о сумме в банке</h3>
        <div>
            <input type="text" name="cash" placeholder="Введите сумму банка" class="form-control"> <br>
        </div>
        <button type="submit" class="btn btn-success">Сохранить данные</button>
    </form>
</div>

<div th:insert="blocks/fronts :: fronts"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity=
        "sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity=
        "sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>