<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit taxpayer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/static/CSS/style.css}">
    <link rel="stylesheet" th:href="@{/static/CSS/font-awesome.min.css}">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container lg-5 mb-5">
    <h1>Редактирование ресурсов</h1>
    <div th:each="element : ${taxpayer}">
        <form method="post">
            <div class="form-group">
                <input type="text" th:value="${element.name}" name="name" placeholder="Введите Имя" class="form-control"> <br>
                <input type="text" th:value="${element.surname}" name="surname" placeholder="Введите Фамилию" class="form-control"> <br>
                <input type="text" th:value="${element.secname}" name="secname" placeholder="Введите Отчество" class="form-control"> <br>
                <h3>Дата останется прежней</h3>
                <button type="submit" class="btn btn-success">Обновить</button>
            </div>
        </form>
    </div>
</div>

<div th:insert="blocks/fronts :: fronts"></div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity=
        "sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>