<div th:fragment="fronts">
    <div class="container w">
        <div class="row text-center">
            <br>
            <div class="col-lg-4">
                <i class="fa fa-address-book"></i>
                <h4>Дизайн</h4>
                <p>
                    Создан с помощью Bootstrap
                </p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-database"></i>
                <h4>Структура</h4>
                <p>
                    Используется PostgreSQL
                </p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-bell"></i>
                <h4>Помощь</h4>
                <p>
                    Обращайтесь к администратору
                </p>
            </div>
        </div>
        <br><br>
    </div>
</div>
