<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand" href="#">Work with PostgreSQL</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Home<span class="sr-only"></span></a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link disabled" href="/table">Access<span class="sr-only"></span></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/table">Access<span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Questions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item disabled" href="#">Write to administrator</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://getbootstrap.com/">Something</a>
                    </div>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()">
                <form  th:action="@{/logout}" class="mr-sm-2" method="post">
                    <div class="form-group row">
                        <div class="input-group">
                            <input class="btn btn-outline-secondary" type="submit" value="Sign Out">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
